<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/86a293b8-e293-4984-a74d-21a8f1e16fb5%2Ffavicon.png?1521573431819" />
<!--   <link rel="mask-icon" type="" href="https://static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" --> 
  <title>Pixterest</title>
  
  <link rel="stylesheet prefetch" href="https://www.w3schools.com/w3css/4/w3.css"/>
  <link rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
</head>
  <body>
    <%- include('navigation') %>
<!--     data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 20 }' -->
<div id="imgContainer" class="grid" >    

  <% pix.forEach(function(pic){ %>
  <div class="grid-item w3-animate-zoom <%= (pic.divItemStyle) %>">
    <article class="w3-panel">
      <header class="w3-container w3-<%= (pic.sectColour) %> top-rounded">
        <i class="w3-large <%= (pic.sectIcon) %> floatRight"></i> 
        <h3>
          <%= (pic.imgDescription) %>
        </h3>
      </header>
      <section class="w3-leftbar w3-rightbar w3-border-<%= (pic.sectColour) %> w3-sand">
        <img class="<%= (pic.orientation) %> lazyload" src="<%= (pic.imgUrl) %>">
      </section>
      <footer class="w3-container w3-<%= (pic.sectColour) %> bottom-rounded w3-small">
        By <%= pic.createdByName %> on <%= (pic.date) %>
        <span class="floatRight">
        <% if (pic.canDelete) { %>
        
          <span id="<%= (pic._id) %>" class="w3-large far fa-trash-alt" name="deleteBtn" onclick="showModal(this)"></span>
        
            <div id="are-you-sure-<%= (pic._id) %>" class="sureModal w3-center w3-white hide">
              <i class="w3-xxlarge fas fa-exclamation-triangle w3-text-red" aria-hidden="true"></i><br/>
              <h4>
                Are you sure?
              </h4>

              <a href="/del?pic_id=<%= pic._id %>" class="w3-btn w3-blue w3-small">Yes, remove
                <i class="w3-large far fa-trash-alt" aria-hidden="true"></i>
              </a>

              <button class="w3-btn w3-orange w3-small" name="cancelDeleteBtn" onclick="hideModal('<%= (pic._id) %>')">
                No, keep
                <i class="w3-large fas fa-times-circle" aria-hidden="true"></i>
              </button>
           </div>

            <div class="modal-overlay hide" id="modal-overlay-<%= (pic._id) %>"></div>

        <% }; %>
         <% if (user) { %>
        <a href="/like?pic_id=<%= pic._id %>"> 
          <% if (pic.like) { %>
          <i class="w3-large fas fa-heart" aria-hidden="true"></i>
          <% } else { %>
          <i class="w3-large far fa-heart" aria-hidden="true"></i>
          <% }; %>
        </a>
          <% } else { %>
          <i class="w3-large far fa-heart" aria-hidden="true"></i>
          <% }; %>
        </span>
      </footer>
    </article>
  </div>
  <% }); %>
<% if (pix.length === 0) { %>
  <p class="w3-center w3-large">
None found! <br/>
    <i class="w3-jumbo fas fa-camera-retro" aria-hidden="true"></i>    
    <br/>
    Sign in to add some
  </p>
  </div>
    <% } else if (count > 10) { %>
</div>

  <div class="w3-center w3-xxlarge w3-round">
     <% if (!myPix) { %>
    
        <% pages.forEach( function (page, index)  { %>
    
          <a href="/?next=<%= page %>&sect=<%= section.section %>" 
               class="w3-button w3-small w3-mobile <% if (page == skipping) { %>w3-blue <% } else { %>w3-black<% } %>">
                <%= index+1 %>
          </a>
      
        <% }); %>
      <% } %>
  </div>
    <% }; %>
  
<%- include('footer') %>
  
  <script>
  // show-hide modal for confirm delete
  function hideModal(id) {
    var modal = document.getElementById('modal-overlay-'+id);
    modal.classList.remove("show");
    modal.classList.add("hide");
    var sure = document.getElementById('are-you-sure-'+id);
    sure.classList.remove("show");
    sure.classList.add("hide");
  }
  function showModal(e) {
    var modal = document.getElementById('modal-overlay-'+e.id);
    modal.classList.remove("hide");
    modal.classList.add("show");
    var sure = document.getElementById('are-you-sure-'+e.id);
    sure.classList.remove("hide");
    sure.classList.add("show");
  }
  // Show footer on button click
  function showDetail() {
    var more = document.getElementById('more-lnk');
    more.style.display = 'none';
    document.getElementById('more-detail').style.display = 'block';
  }
  
  function hideDetail() {
    document.getElementById('more-lnk').style.display = 'block';
    document.getElementById('more-detail').style.display = 'none';
  }
    

  </script>
<!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-beta.1/lazyload.js"></script>
  <script>
    // lazy load images
    lazyload();
    // Checks for any broken images and replaces them with a placeholder image.
  var sPathToDefaultImg = 'https://cdn.glitch.com/86a293b8-e293-4984-a74d-21a8f1e16fb5%2Fswirl-nf.png?1521478502122',
    validateImage = function( domImg ) {
        oImg = new Image();
        oImg.onerror = function() {
            domImg.src = sPathToDefaultImg;
          domImg.classList.remove("land");
          domImg.classList.add("port");
          var container = domImg.parentElement.parentElement.parentElement;
          container.classList.remove("grid-item--width2");
          // var msnry = new Masonry( '.grid', {"itemSelector": ".grid-item", "columnWidth": 20});
          // msnry.reloadItems();
        };
        oImg.src = domImg.src;
    },
    aImg = document.getElementsByTagName( 'img' ),
    i = aImg.length;

  while ( i-- ) {
    validateImage( aImg[i] );

  }
    // var msnry = new Masonry( '.grid', {"itemSelector": ".grid-item", "columnWidth": 20});
    //       msnry.reloadItems();
    // https://imagesloaded.desandro.com/ 
//     // FIX for overlapping images
//   var $container = document.getElementById('imgContainer');

//   // initialize Masonry after all images have loaded  
//   $container.imagesLoaded( function() {
//     alert('test');
//        $container.masonry();
//   });
  </script>
</body>
</html>